*{
  touch-action: manipulation;
}


#HeaderOfThePage{
  font-family: 'Press Start 2P', cursive;
  color:coral;
  font-size: 5rem;
  text-align: center;
}

body {
  text-align: center;
  background-color: #011F3F;
  display: block;
	justify-content: center;
	align-items: center;
  width: auto;
  zoom: 100%
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  line-height: 150%
}

#level-title-two {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  line-height: 150%;
  color: #FEF2BF
}

.container {
  display: block;
  width: 100%;
  margin: auto; 
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

ul{
  list-style-type: none;
}

.menu-list{
  line-height: 200%;
  width: auto;
}

#gameMenu{
  font-size: 1.75rem;
  font-family: 'Press Start 2P', cursive;
  margin: 10% 20% 0% 20%;
  text-align: center;
}

a{
  position: relative;
  text-decoration: none;
  color: aliceblue;
  padding: 0 10px;
}

a::after{
  content: "";
  position: absolute;
  background-color: rgb(216, 144, 10);
  height: 3px;
  width: 100%;
  left:0;
  bottom: -10px;
  transform: scale(0,1);
  transition: 0.3s ease;
}

a:hover{
  color: rgb(255, 217, 0);
}

a:hover:after{
  transform: scale(1,1);
}

#seperator{
  border: 1px solid rgb(0, 255, 170);
  width: auto;
}

#instructions{
  margin:5% 10% 5% 10%;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: goldenrod;
  text-align: left;
  line-height: 150%;
  font-weight: 600;
}

.instruction-list{
  padding-bottom:2%;
}

#instNav{
  margin:5% 0% 5% 0%;
  color: #ffffff;
  font-size: 3rem;
  line-height: 150%;
}

#opt1{
  margin-right: 10%;
}

#opt2{
  margin-left: 10%;
}

#instruction-video{
  padding: 5%;
  height: auto;
  width: auto;
}

#gameOverPopUp{
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  width: 400px;
  height: 200px;
  z-index: 15;
  top: 52%;
  left: 46.5%;
  margin: -100px 0 0 -150px;
  background: rgb(218, 167, 28);
  border: 5px solid rgb(0, 0, 0) ;
  border-radius: 10%;
}

#popUpHeading{
  font-size: 1.5rem;
  margin: 2% 2% 10% 2%;
  padding: 4%;
  color: red;
}

#Opts{
  display: flex;
  margin: 8% 2% 2% 5%;
  width: auto;
  align-items: center;
  cursor: default;
}

#MainMenuOpt{
  padding:5% 5%;
  margin:5% 3%;
  width: 170px;
  display: flex;
  justify-content: center;  
  word-spacing: 1px;
  border-radius: 15%;
}

#MainMenuOpt:hover{
  background-color: red;
}

#ReplayOpt{
  padding: 5% 5%;
  margin: 5% 3%;
  width: 200px;
  display: block;
  justify-items: center;
  border-radius: 15%;
}

#ReplayOpt:hover{
  background-color: red;
}

#highScorePopUp{
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  width: 400px;
  height: 200px;
  z-index: 15;
  top: 52%;
  left: 46.5%;
  margin: -100px 0 0 -150px;
  background: rgb(218, 167, 28);
  border: 5px solid rgb(0, 0, 0) ;
  border-radius: 10%;
}

#highScorePopUpHeading{
  font-size: 2rem;
  margin: 2%;
  padding: 4%;
  color: red;
}

#highScoreBlock{
  font-size: 3rem;
  margin: 2% 5%;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

#highScoreOkBtn{
  width: auto;
  height: auto;
  margin: 4% 43% 4% 43%;
  padding: 2% 0;
  display: block;
  text-align: center;
  border-radius: 15%;
  cursor: default;
  vertical-align: middle;
  
}

#highScoreOkBtn:hover{
  background-color: red;
}

@media (max-width: 480px){
  *{
    width: auto;
    justify-content: center;
  }

  body{
    width: auto;
    height: auto;
    margin: 0%;
    zoom: 100%;
  }

  #HeaderOfThePage{
    font-size: 1.50rem;
    margin:1%;
    width:auto;
    padding: 3%;
    justify-content: center;
  }

  #seperator{
    border: 1px solid rgb(0, 255, 170);
    width: auto;
  }

  #instructions{
    margin-left: 1%;
    margin-bottom: 2%;
    font-size: 1rem;
    justify-content: center;
  }
  
  #example{
    margin: 0;
    font-size: 1rem;
    padding: 2% 0%;
    color: #8ab908;
  }

  .instruction-list{  
    padding-bottom: 5%;
    width: auto;
  }

  #instruction-video{
    width: 275px;
  }

  #instNav{
    margin: 1% 2% 0% 2%;
    width: auto;
    font-size: 1.25rem;
    padding: 4%;
  }

  .btn{
    width: 110px;
    height: 110px;
    border: 7px;
    margin: 8%;
    border: 7px solid black;
  }

  .row{
    width: 40%;
  }

  .container{
    display: flex;
    margin-top:25%;
  }

  #gameMenu{
    font-size: 1.25rem;
    font-family: 'Press Start 2P', cursive;
    margin: 50% 2% 5% 2%;
    padding-left: 0%;
    text-align: center;
  }

  #level-title, #level-title-two{
    font-size: 1.25rem;
    margin: 18px 0px;
  }

  .menu-list{
    line-height: 275%;
  }

  #gameOverPopUp{
    width: 85%;
    position: absolute;
    left: 47.5%;
  }

  #Opts{
    margin-top: 15%;
  }

  #highScorePopUp{
    width: 320px;
  }
  
  #highScorePopUpHeading{
    font-size: 1.5rem;
  }
  
  #highScoreBlock{
    font-size: 3rem;
    margin: 5%;
  }
}
